body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  font-size: 16px; }

small {
  font-size: 12px; }

.rsform {
  display: flex;
  flex-wrap: wrap;
  max-width: 770px;
  justify-content: space-between;
  width: 100%;
  margin: auto; }
  .rsform fieldset {
    border: none;
    margin: 0;
    padding: 0; }
  .rsform-group {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .rsform-group.required .rsform-title:after {
      content: '*';
      color: #ed2226;
      display: inline-block;
      margin-left: 2px;
      font-size: 20px; }
    .rsform-group.error .rsform-input {
      border-color: #ed2226; }
    .rsform-group.error .rsform-hint {
      display: block; }
    .rsform-group.success.rs-check_mark {
      position: relative; }
      .rsform-group.success.rs-check_mark:after {
        content: '';
        left: auto;
        top: auto;
        right: 20px;
        bottom: 18px;
        width: 5px;
        height: 10px;
        border: solid #377dff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        zoom: 100%;
        position: absolute;
        display: block !important; }
      .rsform-group.success.rs-check_mark .rsform-input {
        border-color: #377dff; }
  .rsform-checkbox {
    margin: 4px 0 0px; }
    .rsform-checkbox .rsform-title {
      font-size: 14px; }
    .rsform-checkbox .rsform-checkbox--input {
      display: none; }
      .rsform-checkbox .rsform-checkbox--input__clone {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: rgba(72, 77, 92, 0.8);
        position: relative;
        top: 1px;
        margin-right: 5px; }
        .rsform-checkbox .rsform-checkbox--input__clone:before {
          content: '';
          left: 8px;
          top: 4px;
          width: 5px;
          height: 10px;
          border: solid transparent;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          zoom: 68%;
          position: absolute; }
      .rsform-checkbox .rsform-checkbox--input:checked + .rsform-checkbox--input__clone {
        background-color: #377dff; }
        .rsform-checkbox .rsform-checkbox--input:checked + .rsform-checkbox--input__clone:before {
          border-color: #fff; }
    .rsform-checkbox .rsform-label {
      cursor: pointer;
      user-select: none; }
    .rsform-checkbox.error .rsform-checkbox--input__clone {
      background-color: #ed2226; }
  .rsform-radio {
    margin-bottom: 10px; }
    .rsform-radio--label {
      cursor: pointer;
      display: inline-flex;
      align-items: center; }
      .rsform-radio--label:last-child {
        margin-bottom: 0; }
    .rsform-radio .rsform-title {
      margin-bottom: 10px;
      display: block;
      width: 100%; }
    .rsform-radio--input {
      display: none; }
      .rsform-radio--input__clone {
        width: 15px;
        height: 15px;
        background-color: rgba(72, 77, 92, 0.8);
        border-radius: 100%;
        display: inline-block;
        position: relative;
        margin-right: 7px;
        position: relative;
        bottom: 1px; }
      .rsform-radio--input:checked + .rsform-radio--input__clone {
        background-color: #377dff; }
  .rsform-title a {
    color: #377dff;
    text-decoration: none;
    font-size: inherit; }
  .rsform-hint {
    display: none;
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    color: #ed2226; }
  .rsform-input {
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(72, 77, 92, 0.8); }
    color .rsform-input:focus, .rsform-input:active {
      border-color: #377dff; }
  .rsform-btn {
    padding: 13px;
    text-transform: uppercase;
    background-color: #377dff;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px; }
    .rsform-btn:hover {
      background-color: #1e6cfd; }
