$grey: rgba(72, 77, 92, .8);
$grey_d: rgba(72, 77, 92, .8);
$accent: #377dff;
$accent_h: #1e6cfd;
$white: #fff;
$error: #ed2226;
$form: rsform;
$tr: all .15s ease;

body {
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-size: 16px;
}

small {
    font-size: 12px;
}



.rsform {
    display: flex;
    flex-wrap: wrap;
    max-width: 770px;
    justify-content: space-between;
    width: 100%;
    margin: auto;

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &-group {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        

        &.required {
            .#{$form} {
                &-title {
                    &:after {
                        content: '*';
                        color: $error;
                        display: inline-block;
                        margin-left: 2px;
                        font-size: 20px;
                    }
                }
            }
        }

        &.error {
            .#{$form} {
                &-input {
                    border-color: $error;
                }

                &-hint {
                    display: block;
                }
            }
        }

        &.success.rs-check_mark {
            position: relative;

            &:after {
                content: '';
                left: auto;
                top: auto;
                right: 20px;
                bottom: 18px;
                width: 5px;
                height: 10px;
                border: solid $accent;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                zoom: 100%;
                position: absolute;
                display: block !important;
            }

            .#{$form} {
                &-input {
                    border-color: $accent;
                }
            }
        }
    }

    &-checkbox {
        margin: 4px 0 0px;

        .#{$form} {
            &-title {
                font-size: 14px;
            }

            &-checkbox--input {
                display: none;

                &__clone {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background-color: $grey;
                    position: relative;
                    top: 1px;
                    margin-right: 5px;

                    &:before {
                        content: '';
                        left: 8px;
                        top: 4px;
                        width: 5px;
                        height: 10px;
                        border: solid transparent;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                        zoom: 68%;
                        position: absolute;
                    }
                }

                &:checked {
                    +.#{$form}-checkbox--input__clone {
                        background-color: $accent;

                        &:before {
                            border-color: $white;
                        }
                    }
                }
            }

            &-label {
                cursor: pointer;
                user-select: none;
            }
        }

        &.error {
            .#{$form}-checkbox--input__clone {
                background-color: $error;
            }
        }

    }

    &-radio {
        margin-bottom: 10px;
        &--label {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .#{$form} {
            &-title {
                margin-bottom: 10px;
                display: block;
                width: 100%;
            }
        }
        &--input {
            display: none;
            &__clone {
                width: 15px;
                height: 15px;
                background-color: $grey;
                border-radius: 100%;
                display: inline-block;
                position: relative;
                margin-right: 7px;
                position: relative;
                bottom: 1px;

            }
            &:checked + .#{$form}-radio--input__clone {
                background-color: $accent;
            }
        }
    }

    &-title {
        a {
            color: $accent;
            text-decoration: none;
            font-size: inherit;
        }
    }

    &-hint {
        display: none;
        position: absolute;
        bottom: -17px;
        font-size: 12px;
        color: $error;
    }

    &-input {
        padding: 12px;
        border-radius: 5px;
        outline: none;
        border: 1px solid $grey;

        color &:focus,
        &:active {
            border-color: $accent;
        }
    }

    &-btn {
        padding: 13px;
        text-transform: uppercase;
        background-color: $accent;
        color: $white;
        border: none;
        cursor: pointer;
        outline: none;
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        &:hover {
            background-color: $accent_h;
        }
    }
}